<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Evaluate Blog Posts/Articles using NLP</title>
    </head>

    <body>

        <header>
            <div class="logo-wrapper">
                <a href="/"><img class="logo" alt="Analyzer logo"></a>
            </div>
            <div class="menu-wrapper">

            </div>
        </header>

        <main>
            <section class="form-wrapper">
                <h2>Welcome to <span>Analyzer</span></h2>
                <p>Analyzer takes the url of any blog and evaluates it using the powerful <span>Meaning Cloud's sentiment analysis API</span>. It presents the outcome of its analysis below.</p>
                <form onsubmit="return Client.handleSubmit(event)">
                    <input id="text-input" type="text" name="input" placeholder="Input text or url">
                    <div class="error-msg hide"></div>
                    <input type="submit" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            </section>

            <section class="results-wrapper">
                <h2>Form Results:</h2>
                <div id="results"></div>
            </section>
        </main>

        <footer>
            <p>Analyzer &copy; 2023. <br>Powered by <a href="https://www.meaningcloud.com/">Meaning Cloud's sentiment analysis API</a></p>
        </footer>
        <script>
            if ('serviceWorker' in navigator) {
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>
