form {
    border: 1px solid var(--border-color);
    border-radius: 3px;
    padding: 40px;

    input {
        padding: 5px 20px;
        width: 100%;
        line-height: 16px;
        margin: 10px 0;
        border: none;
        outline: 1px solid;
        border-radius: 4rem;
        font-size: 1.2rem;

        &:focus {
            outline: 1px solid var(--neutral-black-color);
            background-color: var(--background-color);
        }

        &[type='submit'] {
            background-color: var(--primary-color);
            outline: none;
            color: var(--neutral-white-color);
            cursor: pointer;
            padding: 1rem 0rem;

            &:hover {
                background-color: var(--accent-color);
            }
        }
    }

    .error-msg {
        color: var(--error-color); 
        font-size: 1rem;
        display: none;
    }

}
